{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash
set -e  # Exit on error

# Enable Multilib repository if not enabled
if ! grep -q '^\[multilib\]' /etc/pacman.conf; then
  echo "Enabling Multilib repository..."

  # Insert the Multilib section if it's missing
  sudo tee -a /etc/pacman.conf > /dev/null <<EOF

[multilib]
Include = /etc/pacman.d/mirrorlist
EOF

  # Refresh the package database after modifying pacman.conf
  sudo pacman -Sy
fi

# Ensure base-devel is installed for AUR support
if ! pacman -Qq base-devel &>/dev/null; then
  echo "Installing base-devel..."
  sudo pacman -Sy --needed --noconfirm base-devel
fi

# Ensure yay is installed
if ! command -v yay >/dev/null 2>&1; then
  echo "Installing yay..."
  sudo pacman -Sy --needed --noconfirm git go
  git clone https://aur.archlinux.org/yay.git /tmp/yay
  cd /tmp/yay
  makepkg -si --noconfirm
  cd - && rm -rf /tmp/yay
fi

# Install all necessary packages before applying configs
echo "Installing Pacman packages..."

# Install minimal config
{{ if eq .device  "minimal" -}}
sudo pacman -Sy --needed --noconfirm {{ range .packages.arch.pacman.minimal }}{{ . }} {{ end }}
echo "Installing AUR packages..."
yay -Sy --needed --noconfirm {{ range .packages.arch.aur.minimal }}{{ . }} {{ end }}
{{ end -}}

# Install desktop config
{{ if eq .device "desktop" -}}
sudo pacman -Sy --needed --noconfirm {{ range .packages.arch.pacman.minimal }}{{ . }} {{ end }}
sudo pacman -Sy --needed --noconfirm {{ range .packages.arch.pacman.desktop }}{{ . }} {{ end }}

echo "Installing AUR packages..."

yay -Sy --needed --noconfirm {{ range .packages.arch.aur.minimal }}{{ . }} {{ end }}
yay -Sy --needed --noconfirm {{ range .packages.arch.aur.desktop }}{{ . }} {{ end }}
{{ end -}}


# Install zsh-transient-prompt plugin
ZSH_PLUGIN_DIR="/usr/share/zsh/plugins/zsh-transient-prompt"
if [ ! -d "$ZSH_PLUGIN_DIR" ]; then
  echo "Installing zsh-transient-prompt..."
  sudo git clone --single-branch --branch main --depth 1 \
    https://github.com/olets/zsh-transient-prompt "$ZSH_PLUGIN_DIR"
else
  echo "zsh-transient-prompt is already installed."
fi

# Install and configure keyd if not already configured
if ! pgrep -x "keyd" > /dev/null; then
  echo "Checking keyd installation..."
  if ! command -v keyd &>/dev/null; then
    echo "Installing keyd..."
    sudo pacman -Sy --needed --noconfirm keyd
  fi

  echo "Setting up keyd configuration..."
  sudo mkdir -p /etc/keyd
  if [ ! -f /etc/keyd/default.conf ]; then
    sudo ln -s ~/.config/keyd/default.conf /etc/keyd/default.conf
  else
    echo "keyd configuration already exists."
  fi

  echo "Enabling and starting keyd service..."
  sudo systemctl enable keyd --now
else
  echo "keyd is already running."
fi

# Change default shell to zsh
sudo chsh -s /usr/bin/zsh


{{ if eq .device "desktop" -}}
# Set wallpaper using swww
swww img ~/.config/waybar/scripts/Wallpapers/6.png

{{ end -}}

{{ end -}}
