{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash
set -e  # Exit on error

# Enable Multilib repository if not enabled
if ! grep -q '^\[multilib\]' /etc/pacman.conf; then
  echo "Enabling Multilib repository..."

  # Insert the Multilib section if it's missing
  sudo tee -a /etc/pacman.conf > /dev/null <<EOF

[multilib]
Include = /etc/pacman.d/mirrorlist
EOF

  # Refresh the package database after modifying pacman.conf
  sudo pacman -Sy
fi

# Ensure base-devel is installed for AUR support
if ! pacman -Qq base-devel &>/dev/null; then
  echo "Installing base-devel..."
  sudo pacman -Sy --needed --noconfirm base-devel
fi

# Ensure yay is installed
if ! command -v yay >/dev/null 2>&1; then
  echo "Installing yay..."
  sudo pacman -Sy --needed --noconfirm git go
  git clone https://aur.archlinux.org/yay.git /tmp/yay
  cd /tmp/yay
  makepkg -si --noconfirm
  cd - && rm -rf /tmp/yay
fi

# Install all necessary packages before applying configs
echo "Installing Pacman packages..."
sudo pacman -Sy --needed --noconfirm {{ range .packages.arch.pacman }}{{ . }} {{ end }}

echo "Installing AUR packages..."
yay -Sy --needed --noconfirm {{ range .packages.arch.aur }}{{ . }} {{ end }}

# Install zsh-transient-prompt plugin
ZSH_PLUGIN_DIR="/usr/share/zsh/plugins/zsh-transient-prompt"
if [ ! -d "$ZSH_PLUGIN_DIR" ]; then
  echo "Installing zsh-transient-prompt..."
  sudo git clone --single-branch --branch main --depth 1 \
    https://github.com/olets/zsh-transient-prompt "$ZSH_PLUGIN_DIR"
else
  echo "zsh-transient-prompt is already installed."
fi


sudo chsh -s /usr/bin/zsh

{{ end -}}
