* {
	background-image: none;
	box-shadow: none;
    border-radius: 10px;
}

window {
	background-color: rgba(48, 52, 70, 0.90);
}

button {
    border-radius: 10px;
	border-color: #f2d5cf;
	text-decoration-color: #c6d0f5;
	color: #c6d0f5;
	background-color: #292c3c;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    padding-right: 10px;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(63, 66, 85);
	outline-style: none;
}

#lock {
    background-image: url("/home/malenia/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/malenia/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/malenia/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/malenia/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/malenia/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/malenia/.config/wlogout/icons/reboot.svg");
}
