{
    "height": 30,
    "spacing": 4,
    "margin-top": 5,
    "margin-left":5,
    "margin-right":5,
    "margin-bottom":5,
    "reload_style_on_change": true,

    "layer": "top",
    {{- if eq .device "home-pc" }}
    "output": "DP-1",
    {{- end }}
    "modules-left": ["custom/arch", "hyprland/workspaces", "custom/media",],
    "modules-center": ["hyprland/window"],
    "modules-right": ["custom/headsetVolume", "tray", "custom/updates","systemd-failed-units", "clock", {{- if eq .device "thinkpad"}} "backlight", "battery", "network", {{- end }} "group/volume", "group/power"],

    "custom/media": {
        "format": "{icon} {text}",
        "return-type": "json",
        //"max-length": 50,
        "format-icons": {
            "spotify": "",
            "vlc": "󰕼",
            "mpv": "",
            "default": "🎜"
        },
        "escape": true,
        "hide-empty-text": true,
        "on-click": "playerctl --player=spotify play-pause",
        //"exec": "$HOME/.config/waybar/mediaplayer.py > /dev/null" // Script in resources folder
        "exec": "/usr/bin/python3 $HOME/.config/waybar/scripts/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
    },

    "custom/updates": {
        "exec": "$HOME/.config/waybar/scripts/updates",
        "return-type": "json",
        "interval": 3600,
        "on-click": "kitty sh -c 'sudo pacman -Syu'"
    },

    "custom/headsetVolume": {
        "format": "{text}",
        "return-type": "json",
        "exec": "/usr/bin/python3 $HOME/.config/waybar/scripts/battery.py"

    },

    "systemd-failed-units": {
        "hide-on-ok": false, // Do not hide if there is zero failed units.
        "format": " {nr_failed}",
        "format-ok": "",
        "system": true, // Monitor failed systemwide units.
        "user": false // Ignore failed user units.
    },

    "cava": {
        "framerate": 120,
        "autosens": 1,
        "bars": 12,
        "method": "pipewire",
        "source": "auto",
        "bar_delimiter": 0,
        "input_delay": 2,
        "sleep_timer": 2,
        "hide_on_silence": true,
        "format-icons" : ["▁", "▂", "▃", "▄", "▅", "▆", "▇", "█" ]
    },

    "group/volume": {
        "orientation": "horizontal",
        "drawer": {
            "transition-duration": 500,
        },
        "modules": [
            "pulseaudio",
            "pulseaudio/slider"
        ]
    },

    "pulseaudio/slider": {
        "min": 0,
        "max": 100,
        "orientation": "horizontal"
    },

    "group/power": {
        "orientation": "horizontal",
        "drawer": {
            "transition-duration": 500,
            "children-class": "not-power",
            "transition-left-to-right": false,
        },
        "modules": [
            "custom/power",
            "custom/logout",
            "custom/reboot",
            {{- if eq .device "home-pc" }}
            "custom/windows",
            {{- end }}
            "custom/lock"
        ]
    },

    "custom/logout": {
        "format": "󰗼",
        "tooltip": false,
        "on-click": "hyprctl dispactch exit"
    },

    "custom/reboot": {
        "format": "",
        "tooltip": false,
        "on-click": "systemctl reboot"
    },

    "custom/lock": {
        "format": "",
        "tooltip": false,
        "on-click": "hyprlock --immediate"
    },

    "custom/power": {
        "format":"󰤆",
        "on-click": "wlogout -b 4",
        "tooltip": false
    },
        
    {{- if eq .device "home-pc" }}
    "custom/windows": {
        "format":"",
        "on-click": "kitty ~/.config/waybar/scripts/set_windows.sh",
        "tooltip": false
    },

    {{- end }}

    "hyprland/workspaces": {
        "format": "{icon}",
        "on-click": "activate",
        "format-icons": {
            "active": "<span color='#ca9ee6'></span>",
            "default": "<span color='#eebebe'></span>",
            "urgent": "<span color='#e78284'></span>"
        },
        "persistent-workspaces": {
            "*": 10
        }
    },

    "hyprland/window": {
        "format": "{initialTitle}",
        "rewrite": {
            "(.*) — Zen Browser": " $1",
            "(.*) - kitty": "> [$1]"
        },
        "separate-outputs": true,
        "tooltip": true,
        "tooltip-format": "{title}"
    },


    "custom/arch": {
        "format": "<span size='large' color='#179299'>󰣇</span>",
        "on-click": "waypaper",
        "tooltip-format": "btw"
    },

    "tray": {
        "icon-size": 21,
        "spacing": 7,
        "show-passive-items": true
    },
    "pulseaudio": {
        "format": "{icon}",
        "tooltip-format": "{volume}%",
        "format-muted": "",
        "format-icons": {
            "default": ["", ""]
        },
        "on-click": "pavucontrol",
        "on-click-right": "pactl -- set-sink-volume 0 100%"
    },

    "clock": {
        "format": "<span color='#b4befe'>  </span>{:%H:%M}",
        "tooltip": true,
        "tooltip-format": "{:%d/%m/%Y}",
        "on-click":"gnome-calendar"
    },

    "backlight": {
    "device": "intel_backlight",
    "format": "{percent}% {icon}",
    "format-icons": ["", ""]
    },
    
    "battery": {
    "interval": 10,
    "states": {
        "warning": 30,
        "critical": 15
    },
    "format": "{capacity}% {icon}",
    "format-icons": [" ", " ", " ", " ", " "],
    "max-length": 25
    },

    "network": {
    "interface": "wlp2s0",
    "format": "{ifname}",
    "format-wifi": " ",
    "format-ethernet": "{ipaddr}/{cidr} 󰊗",
    "format-disconnected": "", //An empty format will hide the module.
    "tooltip-format": "{ifname} via {gwaddr} 󰊗",
    "tooltip-format-wifi": "{essid} ({signalStrength}%) ",
    "tooltip-format-ethernet": "{ifname} ",
    "tooltip-format-disconnected": "Disconnected",
    "max-length": 50,
    "on-click": "kitty nmtui"
    }

}
