@import "frappe.css";

@define-color border @sky;

@define-color text @teal;

* { all: initial; }
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Sofia Pro", "FiraCode Nerd", sans-serif, FontAwesome;
    font-size: 13px;
}

/*
.modules-left {
    padding:4px;
    margin:5 0 0 7;
    border-radius:10px;
    background: alpha(@base,1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.modules-center {
    padding:7px;
    margin:5 0 0 0;
    border-radius:10px;
    background: alpha(@base,1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding:7px;
    margin: 5 7 0 0;
    border-radius:10px;
    background: alpha(@base,1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px alpha(@teal, 1);
}
/* you can set a style on hover for any module like this */

tooltip {
    background: alpha(@base, 1);
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 8px; }
tooltip label {
    color: alpha(@text,1);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}



#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    box-shadow: inset 0 -3px #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-power,
#custom-arch
#clock,
#calendar,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window {
    font-size: 15;
    margin-top: -5;
    font-weight: bold;
    margin:5 0 0 0;
    background: alpha(@base,1);
    border-radius:10px;
    padding:7px;
    color: alpha(@text, 1);
    font-weight: bold;


    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

window#waybar.empty #window {
    background: transparent;
    border: none;
}


#workspaces {
    background-color: alpha(@base, 1);
    border-radius: 0 8px 8px 0;

    padding: 0 8px;
    margin: 5 0 0 -5px;


    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;

}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}





#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: alpha(@base, 1);
    color: alpha(@text, 1);
    min-width: 100px;
    border-radius: 8px;
    margin: 5 0 0 0px;


    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    -gtk-icon-theme: "Tela";
    background-color: alpha(@base, 1);
    color: alpha(@text, 1);
    border-radius: 8px;
    margin: 5 0 0 0px;
    padding: 0 5 0 5px;


    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#tray menu {
    background-color: alpha(@base, 1);
    border-radius: 8px;
    padding: 5px;
    color: alpha(@text, 1);
    border: 2px;

    border-style: solid;
    border-color: alpha(@border, 0.3);
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

/* 
IMPORTANT STUFF 
 */



#custom-arch {
    background-color: alpha(@base, 1);
    padding: 0 8 0 8px;
    color: alpha(@text, 0.7);
    border-radius: 8px 0 0 8px;
    margin: 5 -4 0 5px;


    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}



#power {
    background-color: alpha(@base, 1);
    margin-right: 5px;
    color: alpha(@text, 1);
    background-color: alpha(@base, 1);


    margin-top: 5px;
    border-radius: 0 8 8 0px;
    margin-left: -6px;
    padding-right: 5px;

    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

/*
#custom-power {
    margin-right: 10px;
    color: alpha(@text, 1);
    background-color: alpha(@base, 1);
    margin-top: 5px;
    border-radius: 0 8 8 0px;
    margin-left: -6px

}

*/

#custom-logout {
    margin-left: 10px;
}

#pulseaudio {
    color: alpha(@text, 1);
    background-color: alpha(@base, 1);
    margin-top: 5px;
    border-radius: 8px 0 0 8px;
    padding-left: 10px;

    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}


#clock {
    background-color: alpha(@base, 1);
    border-radius:  8px;
    padding: 7px;

    color: alpha(@text, 1);
    font-weight: bold;
    font-size: 15;
    margin-top: 5px;


    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

#tray {
    color: alpha(@text, 1);
    -gtk-icon-theme: "Tela";

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-logout {
    color: alpha(@text, 1);
    margin-right: 10px;
    margin-left: 5px;
}

#custom-reboot {
    color: alpha(@text, 1);
    margin-right: 10px;
}

#custom-lock {
    color: alpha(@text, 1);
    margin-right: 5px;
}

#pulseaudio-slider trough, #backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
}

#pulseaudio-slider {
    background-color: alpha(@base, 1);
    margin-top: 5px;
    padding: 7px;
    margin-right: -5px;

    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: alpha(@text, 1);
}

#cava {
    background-color: alpha(@base, 1);
    margin: 5 0 0 0px;
    border-radius: 8px;
    padding: 7px;
    color: alpha(@text, 1);

    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

#custom-headsetVolume {
    background-color: alpha(@base, 1);
    margin: 5 0 0 0px;
    padding: 7px;
    border-radius: 8px;
    color: alpha (@text, 1);
    font-weight: bold;
    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

#custom-updates {
    background-color: alpha(@base, 1);
    margin: 5 0 0 0px;
    padding: 7 10 7 7px;
    border-radius: 8px;

    color: alpha(@text, 1);

    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}

#systemd-failed-units {
    background-color: alpha(@base, 1);
    padding: 7px;
    margin: 5 0 0 0px;
    border-radius: 8px;

    color: alpha(@text, 1);

    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
    border-bottom: 3px;
    border-style: solid;
    border-color: alpha(@border, 1);
}
